{% extends "index.html" %}

{% block content %}



 <div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">user_email</th>
                <th scope="col">user_name</th>
                <th scope="col">user_phone</th>
                <th scope="col">user_birthday</th>
                <th scope="col">user_location</th>
                <th scope="col">user_employment</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr >
                <td> {{user.user_email}} </td>
                <td> {{user.user_name}} </td>
                <td> {{user.user_phone}} </td>
                <td> {{user.user_birthday}} </td>
                <td> {{user.user_location}} </td>
                <td> {{user.user_employment}} </td>
                <td>
                    <a href="/user_edit/{{user.user_email}}" type="button" class="btn btn-warning">Edit</a>
                    <a href="/delete_user/{{user.user_email}}" type="button" class="btn btn-warning">Delete</a>
                    <a href="/new_skill/{{user.user_email}}" type="button" class="btn btn-warning">add skill</a>
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td> <a href="/create_user" type="button" class="btn btn-warning">New Person</a> </td>
            </tr>
        </tbody>
    </table>
 </div>

{% endblock %}